<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Héros</title>
</head>

<body>
    <h1>Caractéristique des Héros</h1>
    <div class="form-group">
        <input type="text" id="search" class="form-control form-control-lg" placeholder="Votre recherche ici !">
    </div>
    <div id="match-list">

    </div>
    <table class="table-heroes">
        <thead>
            <tr>
                <th>ICON : </th>
                <th>NAME : </th>
                <th>FULLNAME </th>
                <th>INTELLIGENCE </th>
                <th>STRENGTH : </th>
                <th>SPEED : </th>
                <th>DURABILITY :</th>
                <th>POWER : </th>
                <th>COMBAT : </th>
                <th>PLACE OF BIRTH :</th>
                <th>ALIGNEMENT :</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>


    <script src="../scripts/main.js"></script>
</body>

</html>