<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Super Héros</title>
</head>

<body>
    <h1>Caractéristique des Héros</h1>
    <div class="form-group">
        <input type="text" id="search" class="form-control form-control-lg" placeholder="Votre recherche ici !">
    </div>
    <div id="match-list">

    </div>
    <table class="table-heroes">
        <thead>
            <tr>
                <th scope="col" id="icon">ICON : </th>
                <th scope="col" id="name">NAME : </th>
                <th scope="col" id="fullname">FULLNAME : </th>
                <th scope="col" id="intelligence">INTELLIGENCE : </th>
                <th scope="col" id="strength">STRENGTH : </th>
                <th scope="col" id="speed">SPEED : </th>
                <th scope="col" id="durability">DURABILITY :</th>
                <th scope="col" id="power">POWER : </th>
                <th scope="col" id="combat">COMBAT : </th>
                <th scope="col" id="race">RACE : </th>
                <th scope="col" id="gender">GENDER : </th>
                <th scope="col" id="height">HEIGHT : </th>
                <th scope="col" id="weight">WEIGHT :</th>
                <th scope="col" id="place">PLACE OF BIRTH :</th>
                <th scope="col" id="alignement">ALIGNEMENT :</th>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>


    <script src="../scripts/main.js"></script>
</body>

</html>